.document-top-bar
    width: 100%
    background-color: #2C3A47
    text-align: center
    height: 100px
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    color: white

.document-content
    display: flex
    flex-direction: column
    align-items: center
    margin: 50px 0

    pre
        width: 500px    
        text-align: justify

.document-back-button
    height: 50px
    width: 50px
    border-radius: 50px
    background-color: #ff7f50
    position: absolute
    left: 50px
    transition: 0.20s
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    border: none

    &:hover 
        transform: scale(1.05)
        background-color: darken(#ff7f50, 7%)

.arrow 
    border: solid white
    border-width: 0 4px 4px 0
    display: inline-block
    padding: 3px

.left
    transform: rotate(135deg)
